<h1>Birthdays</h1>

<ul>
  <% @birthdays.each do |birthday| %>
    <li>
    <a href="<%= birthday_path(birthday)%>"><%= birthday.name  %></a> was born on <%= birthday.birthday %>
    </li>
  <% end %>
</ul>

<h2>
<a href="<%= new_birthday_path %>">Enter New Birthday</a>
</h2>