<h1>Birthdays</h1>

<ul>
  <% @birthdays.each do |birthday| %>
    <li>
    <a href="/birthdays/<%= birthday.id %>">
        <%= birthday.name  %>
    </a>
    was born on <%= birthday.birthday %>
    </li>
  <% end %>
</ul>
